fastapi>=0.104.1
uvicorn[standard]>=0.24.0
sqlalchemy
aiosqlite
loguru>=0.7.2
psutil>=5.9.6
opencv-python
pillow
scipy
numpy
pyyaml
greenlet
python-multipart
ultralytics>=8.0.215
hyperlpr3
lap>=0.5.12
