fastapi>=0.104.1
uvicorn[standard]>=0.24.0
ultralytics>=8.0.215
easyocr>=1.7.1
transformers
torch
torchvision
sqlalchemy
aiosqlite
loguru>=0.7.2
psutil>=5.9.6
flask
opencv-python
pillow
scipy
numpy
pyyaml
websocket-client>=1.6.0
greenlet
python-multipart
